
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

html > body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* lib */
a {
    color: inherit;
    text-decoration: none;
}